<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Home – ServletViews</title>
    <script src="../assets/js/md5.js"></script>
  </head>
  <body>
    <h2>ServletViews – Home</h2>

    <script>
      var hash = md5('mi-contraseña')

      console.log(hash)
    </script>
    <ol>
      <li>
        <a href="./info.html">Info</a>
      </li>
      <li>
        <a href="./echo.html">Echo</a>
      </li>
      <li>
        <a href="./calc.html">Calc</a>
      </li>
    </ol>
  </body>
</html>
